{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

    <div class="banniere">
        <img class="vigne" src="{{ asset('image/vigne.jpg')}}" alt="Bannière">
        <div class="under_vigne">
            <h1 class="titre_banniere">LE MEILLEUR DU VIN FRANCAIS SE TROUVE CHEZ VIN COEUR</h1>
            <p class="texte_banniere">Le meilleur du savoir-faire de nos artisans vignerons,<br> en exclusivité pour vous.</p>
            <a class="ensavoir" href="{{ path('society_who') }}">EN SAVOIR PLUS SUR VIN COEUR</a>
        </div>
    </div>

    <div class="filter_nav">
                        <a class="filter1" href="{{ path('type') }}"><span>TYPE</span></a>
                        <a class="filter1" href="{{ path('price') }}"><span>PRIX</span></a>
                        <a class="filter" href="{{ path('area') }}"><span>REGION</span></a>
                        <a class="filter" href="{{ path('grape_variety') }}"><span>CEPAGE</span></a>
                        <a class="filter1" href="{{ path('note') }}"><span>NOTE</span></a>
                        <a class="filter1" href="{{ path('domain') }}"><span>CAVE</span></a>
    </div>
        <div class="grid"> 
            {% for product in products %}
                <div class="grids">
                    <div class="flex">
                        <div class="flex1">
                            <div class="bottlePicture">
                                 <a href="{{ path('product_show', {id:product.id}) }}" title="Caractéristiques du produit"><img class="picture" src="{{ product.picture }}"></a><br>
                                  <a class="add" href="{{ path('cart_add', {id:product.id})}}">Ajouter au panier</a>
                            </div>
                        </div>
                        <div class="flex2">
                                <a href="{{ path('product_show', {id:product.id}) }}">{{ product.name }}</a><br>
                                {{ product.price }} €<br>
                                <a href="{{ path('area_show', {id:product.area.id}) }}">{{ product.area }}</a><br>
                                <a href="{{ path('domain_show', {id:product.domain.id}) }}">{{ product.domain }}</a><br>
                                {{ product.note }} / 10<br>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div> 

    <div class="pagi">
    Page :
    {% for i in 1..((totalPages/12)|round(0, 'ceil')) %}
        
    <a class='pagination' href="{{ path('product', { page: i }) }}">{{ i }}</a>

    {% endfor %}
    </div>

{% endblock %}
